<footer class="footer-section">
  <div class="container relative">
    <div class="sofa-img">
      <img src="/images/sofa.png" alt="Image" class="img-fluid">
    </div>
    <div class="row">
      <div class="col-lg-8">
        <div class="subscription-form">
          <h3 class="d-flex align-items-center">
            <span class="me-1"><img src="/images/envelope-outline.svg" class="img-fluid"></span>
            <span>Subscribe to Newsletter</span>
          </h3>
          <form action="#" class="row g-3">
            <div class="col-auto"><input type="text" class="form-control" placeholder="Enter your name"></div>
            <div class="col-auto"><input type="email" class="form-control" placeholder="Enter your email"></div>
            <div class="col-auto"><button class="btn btn-primary"><span class="fa fa-paper-plane"></span></button></div>
          </form>
        </div>
      </div>
    </div>
    <div class="border-top copyright text-center pt-4">
      <p>© <%= new Date().getFullYear() %> LoOpCaRt — All rights reserved.</p>
    </div>
  </div>
</footer>

<!-- JS -->
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/tiny-slider.js"></script>
<script src="/js/custom.js"></script>
</body>
</html>
