<%- include('partials/header') %>

<!-- homepage content here -->
<div class="hero">
  <div class="container">
    <h1>Shop Sustainably.<br>Live Responsibly.</h1>
  </div>
</div>

<%- include('partials/footer') %>
